/* admin/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: basic global styles */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-900 text-sm;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
